<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/"/>

    <style>

        body {
            background: #fff0c7;
            padding: 2rem;
            margin: 0;

            font-family: sans-serif;
        }

        p {
            font-size: 0.85rem;
            text-align: right;
            margin: 0 0 1rem;
            padding: 0;
        }

        a {
            color: black;
        }

        main {
            text-align: center;
            height: calc(100vh - 150px);
        }

    </style>

</head>
<body>

    <main role="main">
        <img src="/files/template/pancake.jpg" alt="Pancake illustration by eatbambuu">
        <h2>Page not found. Have some pancake instead.</h2>
    </main>

    <footer>
        <p>
        Pancake illustration &copy; by <a href="https://www.deviantart.com/eatbambuu">eatbambuu</a>
        </p>
        <p>All content on <a href="https://jache.re">jache.re</a> is released and distributed under the <a href="/LICENSE.html">Anti-Capitalist Attribution Cooperative License</a>.</p>
    </footer>
</body>
</html>
